<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DigitalCollex · Phoenix Framework</title>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>" />
</head>

<body>
  <header class="lux">
    <!-- <section class="container">
        <nav role="navigation">
          <%= if Pow.Plug.current_user(@conn) do %>
            <span>Logged in as <%= Pow.Plug.current_user(@conn).email %></span><br/>
            <span><%= link "Sign out", to: Routes.pow_session_path(@conn, :delete), method: :delete %></span>
          <% else %>
            <span><%= PowAssent.Phoenix.ViewHelpers.authorization_link(@conn, :github) %></span>
          <% end %>
        </nav>
        <a href="http://phoenixframework.org/" class="phx-logo">
          <img src="<%= Routes.static_path(@conn, "/images/phoenix.png") %>" alt="Phoenix Framework Logo"/>
        </a>
      </section> -->
    <library-header app-name="Digital Collex" app-url="/">
      <menu-bar type="links" :menu-items="[
        {name: 'Search', component: 'Help', href: '/search/'},
        {name: 'Info', component: 'Feedback', href: '/info/'},
      <%= if !Pow.Plug.current_user(@conn) do %>
        {name: 'Sign in with Github', component: 'Account', href: '/auth/github/new'}
      <% end %>
      ]"></menu-bar>
    </library-header>
  </header>
  <main role="main" class="container">
    <%= if Pow.Plug.current_user(@conn) do %>
      <span>Logged in as <%= Pow.Plug.current_user(@conn).email %></span><br/>
      <span><%= link "Sign out", to: Routes.pow_session_path(@conn, :delete), method: :delete %></span>
    <% end %>
    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    <%= render @view_module, @view_template, assigns %>
  </main>
  <footer class="lux">
    <library-footer></library-footer>
  </footer>
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</body>

</html>
